@import "_animation";
@import "_custom-bootstrap";
@import "_listview";
@import "_popup";
@import "_screen-list";
@import "_itk-campaign-info";

.itk-campaign {
  &.container {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
  }
  .row {
    &.campaign-name,
    &.campaign-description,
    &.campaign-schedule,
    &.campaign-channels,
    &.campaign-screens {
      margin-bottom: 2rem;
    }
  }
  .input {
    &-title {
      font-weight: 100;
      font-size: 1rem;
      display: block;
      margin-bottom: .5rem;
    }
    &-sub-title {
      font-size: 1rem;
      display: block;
      color: $black;
      max-width: 700px;
    }
    &-type-text {
      background: $gray-100;
      border: 0;
      border-bottom: 1px solid $gray-300;
      font-size: 2rem;
      font-weight: 900;
      display: block;
      margin-top: .5rem;
      padding-bottom: 1rem;
      padding-left: 0;
      &:focus {
        outline: none;
        box-shadow: none !important;
        border: 0px !important;
        border-bottom: 1px solid $gray-300;
      }
    }
    &-type-textarea {
      background: $gray-100;
      border: 0;
      border-bottom: 1px solid $gray-300;
      font-size: 1.2rem;
      display: block;
      margin-top: .5rem;
      padding-bottom: 1rem;
      padding-left: 0;
      color: $black;
      &:focus {
        outline: none;
        box-shadow: none !important;
        border: 0px !important;
        border-bottom: 1px solid $gray-300;
      }
    }
    &-btn {
      &-add {
        color: $blue;
        border: 0;
        background: none;
        font-size: 1rem;
        display: flex;
        align-items: center;
        border-radius: 5px;
        float: left;
        margin-right: 1rem;
        @include transition-in(color);
        &:hover {
          color: $blue-darker;
          background: $gray-300;
          @include transition-out(color);
        }
      }
    }
    &-help {
      font-weight: 100;
      font-size: .85rem;
      display: block;
      color: $gray-700;
      margin-top: .5rem;
      margin-bottom: 1rem;
    }
  }
  .btn-group {
      margin-bottom: 1em;
      float: left;
      width: 100%;
  }
  .channels {
    .overview--channel {
        margin: 0;
        margin-right: 2em;
        margin-bottom: 2em;
        &-remove {
            cursor: pointer;
        }
    }
    .preview--channel {
        @include transition-out(box-shadow);
        &:hover {
            box-shadow: 0 0 16px rgba(0,0,0,.16);
            @include transition-in(box-shadow);
        }
    }
  }
  .screens {
    .overview--screen {
        margin-right: 2em;
        margin-bottom: 2em;
        &-remove {
            cursor: pointer;
        }
    }
    .overview--screen-wrapper {
        @include transition-out(box-shadow);
        &:hover {
            box-shadow: 0 0 16px rgba(0,0,0,.16);
            @include transition-in(box-shadow);
        }
    }
  }
  .overview--channel-link.is-selected .overview--overlay {
      z-index: 10;
  }
}
