<div class="campaign">
    <popup>
        <button class="btn btn-close" ng-click="closeModal()">{{ 'common.action.close' | translate }}<i class="material-icons">close</i></button>
        <h1>{{ 'campaign.modal.addgroup.title' | translate }}</h1>
        <p>{{ 'campaign.modal.addgroup.description' | translate }}</p>
        <div class="modal-content">
            <div class="listview">
                <div class="row listview-table">
                    <div class="col-md-12">
                        <table class="table table-hover table-responsive">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">
                                        <!--
                                            <input type="checkbox"
                                            name=""
                                            id=""
                                            data-ng-click="clickAllCheckbox()">
                                        -->
                                    </th>
                                    <th scope="col">{{ 'campaign_modal_add_screen_group.fields.group' | translate }}</th>
                                    <th scope="col">{{ 'campaign_modal_add_screen_group.fields.screens_in_group' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="group in availableGroups"
                                data-ng-class="{'table-active': groupSelected(group)}">
                                <td class="checkbox"><input type="checkbox" name=""
                                    id="campaign-{{group.id}}"
                                    ng-checked="groupSelected(group)"
                                    ng-click="clickGroup(group)">
                                </td>
                                <td class="name">{{ group.title }}</td>
                                <td class="screens">
                                    <div class="textcrop">
                                        <div
                                        ng-repeat="screen in group.screens">{{ screen.title }}{{ !$last ? ', ' : ''}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-actions">
            <button class="button-link confirm" ng-click="closeModal()">{{ 'common.action.finish' | translate }}</button>
        </div>
    </popup>
</div>
