<div class="itk-campaign container">
    <!-- TODO: Implement existing search with filters -->
    <!--
    <div class="row">
        <div class="col-md-12">
            <div class="search" style="margin-bottom: 30px;">
                <input type="text" class="input" placeholder="Søg" />
            </div>
        </div>
    </div>
    -->
    <div class="row">
        <div class="col-md-12">
            <div class="listview">
                <div class="row">
                    <div class="col-md-12">
                        <div class="listview-tools">
                            <a data-ng-click="help()" class="tool tool-help" data-tooltip="Help">
                                <i class="material-icons">help</i>
                            </a>
                            <a data-ng-click="delete()" class="tool tool-delete float-right">
                                <i class="material-icons">delete</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row listview-table">
                    <div class="col-md-12">
                        <table class="table table-hover table-responsive">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class=""><input type="checkbox" name="" id="" data-ng-click="clickAllCheckbox()"></th>
                                    <th scope="col" class=""><a data-ng-click="flipSortOrder()">Kampagnenavn <i class="material-icons">arrow_drop_down</i></a></th>
                                    <th scope="col" class="w-20"><a href="">Skærme</a></th>
                                    <th scope="col" class="w-5"><a href="">Status</a></th>
                                    <th scope="col" class="w-15"><a href="">Start</a></th>
                                    <th scope="col" class="w-15"><a href="">Slut</a></th>
                                    <th scope="col" class="w-10"><a href="">Værktøjer</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="campaign in campaigns">
                                    <td class="checkbox"><input type="checkbox" name="" id="campaign-{{campaign.id}}"></td>
                                    <td class="name"><a data-ng-href="{{'/#/campaign/' + campaign.id}}">{{campaign.title}}</td>
                                    <td class="screens">
                                        <div class="textcrop">
                                            @TODO
                                        </div>
                                        <div class="showmore">
                                            <a href=""><i class="material-icons">more_vert</i></a>
                                        </div>
                                    </td>
                                    <td class="status"><div class="badge badge-secondary"><span class="badge-indicator {{campaign.status}}"></span> {{ 'campaign.status.' + campaign.status | translate }}</div></td>
                                    <td class="date-start">{{campaign.schedule_from | date:'HH:mm dd/MM/yy' }}</td>
                                    <td class="date-end">{{campaign.schedule_to | date:'HH:mm dd/MM/yy' }}</td>
                                    <td class="tools"><a data-ng-href="{{'/#/campaign/' + campaign.id}}"><i class="material-icons">edit</i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


