<div class="itk-campaign">
    <popup>
        <button class="btn btn-close" ng-click="closeModal()">{{ 'common.action.close' | translate }}<i class="material-icons">close</i></button>
        <h1>{{ 'campaign_overview.confirm_delete' | translate }}</h1>
        <div class="modal-content">
            <div data-ng-repeat="campaign in campaigns">
                <strong>{{campaign.title}}</strong>
            </div>
        </div>
        <div class="modal-actions row">
            <div class="col-md-6">
                <a class="button-link  is-neutral" title="{{ 'common.action.cancel' | translate }}" ng-click="closeModal()">{{ 'common.action.cancel' | translate }}</a>
            </div>
            <div class="col-md-6">
                <a class="button-link" title="{{ 'common.action.confirm' | translate }}" ng-click="confirm()">{{ 'common.action.confirm' | translate }}</a>
            </div>
        </div>
    </popup>
</div>