<div class="itk-campaign">
    <popup>
        <button class="btn btn-close" ng-click="closeModal()">{{ 'common.action.close' | translate }}<i class="material-icons">close</i></button>
        <h1>{{ 'campaign_overview.help.title' | translate }}</h1>
        <p>{{ 'campaign_overview.help.description' | translate }}</p>

        <div class="modal-actions">
            <button class="button-link confirm" ng-click="closeModal()">{{ 'campaign_overview.help.close' | translate }}</button>
        </div>
    </popup>
</div>
