<section class="overview--section">
  <div class="overview--filter">
    <label
        class="overview--filter-label">{{ 'screen_list.filter' | translate}}</label>
    <form class="overview--form full-width" accept-charset="UTF-8">
      <input placeholder="{{ 'screen_list.filter_placeholder' | translate }}"
             class="overview--filter-field"
             type="text"
             size="30"
             maxlength="128"
             data-ng-model="search_text"
             data-ng-change="onChangeText()"
             data-ng-model-options="{debounce: 500}">
    </form>
    <div class="overview--filter-owner">
      <span data-ng-class="{'is-active': showFromUser == 'all'}"
            class="overview--filter-twosplit-left"
            data-ng-click="setUser('all', 'screen')">Alle</span>
      <span data-ng-class="{'is-active': showFromUser == 'mine'}"
            class="overview--filter-twosplit-right"
            data-ng-click="setUser('mine', 'screen')">Mine</span>
    </div>
  </div>
  <div class="overview--groups"
       data-ng-if="userGroups && userGroups.length > 0">
    <label class="overview--label">Grupper:</label>
    <div class="overview--checkboxes">
      <span class="overview--checkbox" ng-repeat="group in userGroups">
        <label class="overview--checkbox-label" for="{{group.id}}">
          <input type="checkbox" ng-model="group.selected" value={{group.id}}
                 name="group" id="{{group.id}}" ng-change="setSearchFilters()"/>
          {{group.displayName}}
        </label>
      </span>
    </div>
  </div>
  <div class="overview--sorting">
    <label
        class="overview--sort-label">{{ 'screen_list.sort' | translate }}</label>
    <div class="overview--sort-links">
      <span class="overview--newest"
            data-ng-class="{'is-active': sort.created_at === 'desc'}"
            data-ng-click="setSort('created_at', 'desc')">{{ 'screen_list.sort_newest' | translate }}</span>
      <span class="overview--oldest"
            data-ng-class="{'is-active': sort.created_at === 'asc'}"
            data-ng-click="setSort('created_at', 'asc')">{{ 'screen_list.sort_oldest' | translate }}</span>
      <span class="overview--alphabetical"
            data-ng-class="{'is-active': sort.title}"
            data-ng-click="setSort('title', 'asc')">{{ 'screen_list.sort_alphabetic' | translate }}</span>
    </div>
  </div>

  <div>
    <div class="spinner overview--spinner" data-ng-show="loading"></div>
    <div class="itk-screen-list--results">
      <div class="itk-campaign itk-screen-list--results container"
           data-ng-show="!loading">
        <div class="row">
          <div class="col-md-12">
            <div class="listview">
              <!-- <div class="row">
                <div class="col-md-12">
                  <div class="listview-tools">
                    <a data-ng-click="help()" class="tool tool-help"
                       data-tooltip="Help">
                      <i class="material-icons">help</i>
                    </a>
                  </div>
                </div>
              </div> -->
              <div class="row listview-table">
                <div class="col-md-12">
                  <table class="table table-hover table-responsive">
                    <thead class="thead-light">
                    <tr>
                      <th scope="col">
                        <!--
                        <input type="checkbox"
                               name=""
                               id=""
                               data-ng-click="clickAllCheckbox()">
                        -->
                      </th>
                      <th scope="col">{{ 'screen_list.fields.screen' | translate }}</th>
                      <th scope="col">{{ 'screen_list.fields.description' | translate }}</th>
                      <th scope="col">{{ 'screen_list.fields.in_group' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="screen in screens"
                        data-ng-class="{'table-active': screenSelected(screen)}">
                      <td class="checkbox">
                        <input type="checkbox" name=""
                               id="campaign-{{screen.id}}"
                               ng-checked="screenSelected(screen)"
                               ng-click="clickScreen(screen)">
                      </td>
                      <td class="name">{{ screen.title }}</td>
                      <td class="description">
                        <div class="textcrop">{{ screen.description }}
                        </div>
                      </td>
                      <td class="groups">
                        <div class="textcrop">
                          <div
                              ng-repeat="group in screen.groups">{{ group.title }}{{ !$last ? ',' : ''}}
                          </div>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overview--section" data-ng-show="!loading"
         ng-if="screens.length === 0">
      {{ 'common.messages.no_results'}}
    </div>
  </div>
  <ik-pager></ik-pager>
</section>
