<div class="itk-campaign">
  <popup>
    <div class="itk-campaign container">
      <div class="row">
        <div class="col-md-12">
          <div class="listview">
            <div class="row">
              <div class="col-md-12">
                <div class="listview-tools">
                  <a data-ng-click="help()" class="tool tool-help"
                     data-tooltip="Help">
                    <i class="material-icons">help</i>
                  </a>
                </div>
              </div>
            </div>
            <div class="row listview-table">
              <div class="col-md-12">
                <table class="table table-hover table-responsive">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col" class="col-md-1"><input type="checkbox"
                                                            name=""
                                                            id=""
                                                            data-ng-click="clickAllCheckbox()">
                    </th>
                    <th scope="col">Gruppenavn</th>
                    <th scope="col">Skærme i gruppen</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr data-ng-repeat="group in availableGroups" data-ng-class="{'table-active': groupSelected(group)}">
                    <td class="checkbox"><input type="checkbox" name=""
                                                id="campaign-{{group.id}}"
                                                ng-checked="groupSelected(group)"
                                                ng-click="clickGroup(group)">
                    </td>
                    <td class="name">{{ group.title }}</td>
                    <td class="screens">
                      <div class="textcrop">
                        <div
                            ng-repeat="screen in group.screens">{{ screen.title }}{{ !$last ? ',' : ''}}
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a class="button-link" title="Annullér" ng-click="closeModal()">
      {{ 'common.action.finish' | translate }}</a>
  </popup>
</div>
