<div class="itk-campaign container">
    <div class="row campaign-name">
        <div class="col-md-12">
            <label for="campaign-name" class="input-title">{{ 'campaign.fields.name' | translate}}</label>
            <input type="text" name="campaign-name" id="campaign-name" value="Name of the campaign" class="input-type-text col-md-7">
            <p class="input-help">{{ 'campaign.fields.name_help' | translate}}</p>
        </div>
    </div>
    <div class="row campaign-description">
        <div class="col-md-12">
            <label for="campaign-description" class="input-title">{{ 'campaign.fields.description' | translate}}</label>
            <div name="campaign-description" id="campaign-description" class="input-type-textarea col-md-7" contentEditable>Suspendisse eget purus vel arcu accumsan fringilla ac nec nisi. Proin mi nisl, porttitor eget nulla viverra, placerat ornare diam. Mauris quam nulla, euismod sit amet malesuada id, ultricies non ex. Curabitur mattis ipsum vitae elit blandit maximus. Duis convallis vulputate justo dapibus luctus.
            </div>
            <p class="input-help">{{ 'campaign.fields.description_help' | translate}}</p>
        </div>
    </div>
    <div class="row campaign-schedule">
        <div class="col-md-12">
            <label for="campaign-schedule" class="input-title">{{ 'campaign.fields.schedule' | translate}}</label>
            <div class="row">
                <div class="col-md-4">
                    <div class="input-sub-title">
                        <p>{{ 'campaign.fields.schedule_start' | translate}}</p>
                    </div>

                    <input type="text" data-ng-model="schedule_start" datetime-picker="" config="{lang: 'da', format: 'd/m/Y H:i', inline: true, scrollMonth: false, scrollTime: false}">

                    <p class="input-help">{{ 'campaign.fields.schedule_start_help' | translate }}</p>
                </div>
                <div class="col-md-1 d-none d-md-block">
                    <span class="align-middle">
                        <i class="material-icons">arrow_forward</i>
                    </span>
                </div>
                <div class="col-md-4">
                    <div class="input-sub-title">
                        <p>{{ 'campaign.fields.schedule_end' | translate}}</p>
                    </div>

                    <input type="text" data-ng-model="schedule_end" datetime-picker="" config="{lang: 'da', format: 'd/m/Y H:i', inline: true, scrollMonth: false, scrollTime: false}">

                    <p class="input-help">{{ 'campaign.fields.schedule_end_help' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row campaign-channels">
        <div class="col-md-12">
            <label for="campaign-channels" class="input-title">
                Campaign channels
            </label>
            <p class="input-help">
                Choose the channels containing the slides for your campaign.
            </p>
            <button class="input-btn-add"><i class="material-icons">add </i>Channel</button>
            <div id="campaign-channels" class="channels">
                <!-- TODO: Show added channels -->
            </div>
        </div>
    </div>
    <div class="row campaign-screens">
        <div class="col-md-12">
            <label for="campaign-screens" class="input-title">
                Screens
            </label>
            <p class="input-help">
                Give a short description of the campaign
            </p>
            <button class="input-btn-add"><i class="material-icons">add </i> Screen</button>
            <button class="input-btn-add"><i class="material-icons">add </i> Screen group</button>
            <div id="campaign-screens" class="screens">
                <!-- TODO: Show added screens -->
            </div>
        </div>
    </div>
    <div class="row campaign-actions">
        <div class="col-md-12">
            <label for="campaign-actions" class="input-title">
                Save your campaign
            </label>
            <div class="create-slide--buttons">
                <form data-ng-submit="submitStep()" class="create-slide--form ng-pristine ng-valid">
                    <input type="submit" class="create-slide--button" value="Fortsæt">
                </form>
            </div>
        </div>
    </div>
</div>
